alembic
altair
annotated-types
anthropic
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
asyncpg
attrs
babel
beautifulsoup4
bleach
blinker
brotli
cachetools
certifi
cffi
charset-normalizer
choreographer
click
cloudpickle
colorama
comm
contourpy
cryptography
cssselect2
cycler
databricks-sdk
debugpy
decorator
defusedxml
dill
distro
docker
docstring_parser
et_xmlfile
executing
fastapi
fastjsonschema
Flask
fonttools
fqdn
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
graphene
graphql-core
graphql-relay
greenlet
groq
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
idna
imbalanced-learn
imblearn
importlib_metadata
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaleido
kiwisolver
llvmlite
logistro
Mako
MarkupSafe
matplotlib
matplotlib-inline
mistune
mlflow
mlflow-skinny
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numba
numpy
opencv-python
openpyxl
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plotly
pluggy
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
psycopg2-binary
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydyf
Pygments
pyparsing
pyphen
pytest
pytest-timeout
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pywin32
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shap
simplejson
six
sklearn-compat
slicer
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
streamlit
tenacity
terminado
threadpoolctl
tinycss2
tinyhtml5
toml
tornado
tqdm
traitlets
types-python-dateutil
typing-inspection
typing_extensions
tzdata
ucimlrepo
uri-template
uritemplate
urllib3
uvicorn
waitress
watchdog
watchfiles
wcwidth
weasyprint
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
xgboost
zipp
zopfli
python-jose
passlib
bcrypt
beautifulsoup4
markdownify
pyyaml 
requests 
pypdf
